.label
  position: relative
  display: flex
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  padding-bottom: 5px

.input
  border: unset
  padding: 5px
  width: 100%

.validInput
  border-color: green

.invalidInput
  border-color: red

.errorTip
  font-size: 14px
  position: absolute
  right: 20px
  bottom: 24px
  z-index: 1
  color: #000000
  padding: 2px 10px
  background-color: rgba(246, 180, 96, 0.5)
  border-radius: 4px

.iconWrapper
  display: flex
  align-items: center