.signInForm
  background-color: white
  display: flex
  flex-direction: column
  width: 100%
  padding: 30px 50px 40px 30px

.signInForm > * + *
  margin-top: 20px

.signInButton
  border-radius: 30px
  background: rgb(246, 180, 96)
  background: linear-gradient(90deg, rgba(246, 180, 96, 1) 0%, rgba(185, 69, 32, 1) 100%)
  padding: 6px 20px
  text-align: center
  text-transform: uppercase
  font-size: 16px
  font-weight: bold
  color: #fff
  letter-spacing: 3px